.to-top{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    opacity: 0;
    cursor: default;
      color: yellowgreen;
      padding-top:1.8em;
    transition:all .3s ease-out;
    background: transparent;
    border:none;
    outline: none;
  }
  .to-top:before{
      content:'▲';
      font-size:1.5em;
      width:1.4em;
      height:1.4em;
      line-height:1.3em;
      transition:transform .5s ease-in;
  }
  .to-top:hover{
      color:#204051;
  }
  .to-top:hover:before{
      transform: rotate(360deg);
  }