<div class="container bg-grad">
  <button type="button" class="close p-3" data-dismiss="modal">&times;</button>
  <div class="row">
    <div class="col-sm-7 center-pos justify-content-center pl-3 pr-3 pt-5 pb-5">
      <p class="heading">leave me a <span class="text-success font-weight-bold">message</span></p>

      <form method="dialog" (submit)='sendMessage()'>
        <div class="form-group">
          <input type="text" class="form-control text-muted" placeholder="Your Name" (keyup)='getName($event)'
            required />
        </div>
        <div class="form-group mt-3">
          <input type="email" class="form-control text-muted" placeholder="Email" (keyup)='getEmail($event)' required />
        </div>
        <div class="form-group mt-5">
          <textarea class="form-control text-muted" placeholder="Message" rows="5" (keyup)='getMessage($event)'
            required></textarea>
        </div>
        <button type="submit" class="btn btn-success rounded-0 width-full mt-3 text-center">Send Message</button>
      </form>
    </div>
    <div class="col-sm-5 center-pos p-3 justify-content-center">
      <p class="heading">Would love to hear from you</p>
      <p class="subheading mb-5 text-muted">I am open all kind of ideas and opportunities</p>
      <p>Contact me at :</p>

      <div class="mt-2">
        <a href="https://www.instagram.com/renny.mittal/" target="_blank">
          <img src="../../assets/images/instagram.png" class="img-fluid icon-size">
        </a>

        <a href="https://www.linkedin.com/in/renny-mittal-97a84a1a0/" target="_blank">
          <img src="../../assets/images/linkedin.png" class="img-fluid icon-size ml-3 mr-3">
        </a>

        <a href="https://github.com/renny1214" target="_blank">
          <img src="../../assets/images/github.png" class="img-fluid icon-size">
        </a>
      </div>
    </div>
  </div>
</div>

<!--alert-->
<div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show fixed-top p-3">
  <button type="button" class="close" data-dismiss="alert" (click)="resetAlert()">&times;</button>
  <p class="display-4">Hey {{ data.name }}</p>
  <p>Your message has been sent, I will contact you shortly.</p>
</div>

<div *ngIf="showError" class="alert alert-danger alert-dismissible fade show fixed-top p-3 rounded-0">
  <button type="button" class="close" data-dismiss="alert" (click)="resetAlert()">&times;</button>
  <h1 class="display-4 text-center">Please enter correct data</h1>
</div>
