* {
  overflow-x: hidden;
  overflow-y: hidden;
}
.back {
  color: #fff;
  background: -webkit-linear-gradient(110deg, #204051 40%, rgba(0, 0, 0, 0) 30%),
    -webkit-radial-gradient(farthest-corner at 0% 0%, #3b6978 70%, #84a9ac 70%);
  background: -o-linear-gradient(110deg, #204051 40%, rgba(0, 0, 0, 0) 30%),
    -o-radial-gradient(farthest-corner at 0% 0%, #3b6978 70%, #84a9ac 70%);
  background: -moz-linear-gradient(110deg, #204051 40%, rgba(0, 0, 0, 0) 30%),
    -moz-radial-gradient(farthest-corner at 0% 0%, #3b6978 70%, #84a9ac 70%);
  background: linear-gradient(110deg, #204051 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #3b6978 70%, #84a9ac 70%);
  height: 100vh;
}

a,
a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.effect-1 {
  padding-top: 10px;
}
.effect-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: yellow;
  transform: scaleX(0);
}
.effect-1:hover:before {
  transform: scaleX(1);
}

.intro {
  color: #ffd31d;
  font-size: 18rem;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.bottom {
  margin-top: 250px;
}

.header {
  background: -webkit-linear-gradient(140deg, #204051 70%, #ffd31d 60%);
  background: -o-linear-gradient(140deg, #204051 70%, #ffd31d 60%);
  background: -moz-linear-gradient(140deg, #204051 70%, #ffed4b 60%);
  background: linear-gradient(140deg, #204051 70%, #ffed4b 60%);
  height: 100vh;
}

.header,
.intro-image {
  height: 100vh;
  width: 100%;
}
.intro-image {
  object-fit: cover;
  opacity: 0.9;
  position: absolute;
  z-index: -1;
}
.intro-space {
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-this {
  text-decoration: line-through;
  text-decoration-color: var(--purple);
}

.imp {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-image {
  height: 80vh;
  width: 70vh;
  object-fit: cover;
}
.heading {
  font-size: 2rem;
  word-spacing: 0.5rem;
  border-bottom: 6px solid var(--purple);
}

.custom-pos {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start-one {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.start-two {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  font-family: "Raleway", sans-serif;
}
.start-three {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.start-four {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.third-page {
  color: #fff;
  background: -webkit-linear-gradient(
      -130deg,
      #ffed4b 30%,
      rgba(0, 0, 0, 0) 30%
    ),
    url("../../assets/images/intro.webp");
  background-size: cover;
  background-position: 50% 21%;
  height: 100vh;
}
.about {
  background-color: #204051;
  opacity: 0.6;
}
.about-me {
  color: white;
  font-size: 24px;
}

.forth-page {
  background: -webkit-linear-gradient(45deg, #ffed4b 50%, #ffd31d 50%);
  background: -o-linear-gradient(45deg, #ffed4b 5s 50%, #ffd31d 50%);
  background: -moz-linear-gradient(45deg, #ffed4b 50%, #ffd31d 50%);
  background: linear-gradient(45deg, #ffed4b 50%, #ffd31d 50%);
}

.forth-page {
  height: 100vh;
  width: 100%;
}

.last {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.last1 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recent {
  color: white;
  font-size: 100px;
}
a.button {
  position: relative;
  display: inline-block;
  width: 25.6em;
  height: 6.3em;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  line-height: 3em;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.button svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
a.button svg g line,
a.button svg g polyline,
a.button svg g circle {
  fill: none;
  stroke: #fff;
}
a.button svg g line,
a.button svg g polyline {
  stroke-miterlimit: 10;
}
a.button svg g circle {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.066em;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset ease-out 0.5s;
  transition: stroke-dashoffset ease-out 0.5s;
}
a.button font {
  z-index: 2;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}
a.button:hover {
  -webkit-transform: translateZ(0) translateX(0.5em);
  transform: translateZ(0) translateX(0.5em);
}
a.button:hover svg g circle {
  stroke-dashoffset: 200;
}

.last2 {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  .intro {
    color: #ffd31d;
    font-size: 6rem;
  }
}

.abc {
  background: -webkit-linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  background: -o-linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  background: -moz-linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  background: linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  height: 80vh;
  width: 100%;
}

.modal-content {
  border-radius: 0px !important;
}
.contact-text {
  font-size: 24px;
}
.mail {
  font-size: 55px;
  color: black;
}
.mail:hover {
  color: #3b6978;
  text-decoration: underline;
}
.icon-size {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  cursor: pointer;
}
.icon-size:hover {
  opacity: 1;
}
.center-align {
  align-items: center;
}

@media screen and (max-width: 750px) {
  .icon-size {
    display: none;
  }
}
.social {
  padding-top: 55px;
  letter-spacing: 0.1em;
}

.love {
  word-spacing: 0.2em;
}
.overlay {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 200px;
  height: 10%;
  width: 10%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #84a9ac;
}
.container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
