<diV class="pt-4 back " id="tops">
  <nav class="navbar navbar-expand-sm justify-content-between">
    <a
      class="nav-link text-light effect-1 font-weight-bold"
      data-aos="fade-down"
      data-aos-duration="2000"
      data-aos-easing="linear"
      ></a
    >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link text-light effect-1 font-weight-bold"
          data-aos="fade-down"
          data-aos-duration="1300"
          data-aos-easing="linear"
          href="/intro"
          >WHO</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light effect-1  font-weight-bold"
          data-aos="fade-down"
          data-aos-duration="2300"
          data-aos-easing="linear"
          href="/what"
          >WHAT</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light effect-1 font-weight-bold"
          data-aos="fade-down"
          data-aos-duration="2800"
          data-aos-easing="linear"
          href="/work"
          >WORK</a
        >
      </li>
    </ul>

    <a
      class="nav-link text-light effect-1 font-weight-bold"
      data-aos="fade-down"
      data-aos-duration="2000"
      data-aos-easing="linear"
      data-toggle="modal"
      data-target="#myModal"
      >CONTACT</a
    >
  </nav>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="abc">
          <button type="button" class="close pr-4 pt-4" data-dismiss="modal">
            &times;
          </button>
          <div class="container-fluid custom-pos">
            <div class="font-weight-bold text-dark">
              <div class="start-one text-center mb-5 mt-5" data-aos="fade-up">
                Contact me
              </div>
              <div
                class="love start-one text-center mb-5 mt-5"
                data-aos="fade-up"
              >
                Would love to hear from you!
              </div>
            </div>
          </div>
          <div class=" text-center mail font-weight-bold mb-5">
            <a href="rennymittal1214@gmail.com">rennymittal1214@gmail.com</a>
          </div>
          <div class="mt-5">
            <div class="social text-center text-dark social">SOCIAL</div>
            <div class="container-fluid mt-4 d-flex justify-content-center">
              <a href="https://www.instagram.com/renny.mittal/" target="_blank">
                <img
                  src="../../assets/images/instagram.png"
                  class="img-fluid icon-size"
                />
              </a>
              <a
                href="https://www.linkedin.com/in/rishabh-malhotra-639678176/"
                target="_blank"
              >
                <img
                  src="../../assets/images/linkedin.png"
                  class="img-fluid icon-size ml-2 mr-2"
                />
              </a>
              <a href="https://github.com/renny1214" target="_blank">
                <img
                  src="../../assets/images/github.png"
                  class="img-fluid icon-size"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="d-flex justify-content-center intro font-weight-bold mt-5 mr-5 ml-5 position-relative"
  >
    <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
      Who.
    </div>
  </div>

  <div
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="500"
    class="arrow bottom"
  >
    <span></span>
  </div>
</diV>

<div class="container-fluid header custom-pos">
  <div class="font-weight-bold text-light">
    <div class="start-one text-center" data-aos="fade-up">WHO I AM?</div>
  </div>
  <div class="font-weight-bold text-light">
    <div class="start-two text-center" data-aos="fade-up">RENNY MITTAL</div>
  </div>
  <div class="font-weight-bold text-light">
    <div class="start-three text-center" data-aos="fade-up">
      I create better experience and work for human
    </div>
  </div>
  <div class="font-weight-bold text-light">
    <div class="start-four text-center" data-aos="fade-up">
      Software Engineer / Web Developer
    </div>
  </div>
</div>

<div class="container-fluid third-page pt-5">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="container" data-aos="fade-up">
        <div class="container about">
          <div
            class="container d-flex justify-content-center font-weight-bold about-me pt-5 mb-3"
            data-aos="fade-up"
          >
            ABOUT ME
          </div>
          <div data-aos="fade-up">Hey stranger !!</div>
          <div class="mt-2" data-aos="fade-up">
            <div class="mb-2" data-aos="fade-up">
              Hi, My name is Renny and I am a web developer. I am from
              panchkula, haryana. I have a huge passion about designs, drawings,
              sketches and paintings. I feel i have a gift very few posses that
              is creativity.
            </div>
            <div class="mb-2" data-aos="fade-up">
              From childhood i was fascinated by art, i had won many
              competitions in my school. Even at university level i was the head
              of creative team of university fest which was responsible for
              decorating the whole university.
            </div>
            <div class="mb-2" data-aos="fade-up">
              I use this gift in my web projects too, the perfect colors,
              animations and design patterns exites me.
            </div>
            <div class="mb-2" data-aos="fade-up">
              I see websites as a blank canvas where i just pour my imagination
              and creativity while obviously retaining all the functionalities
              required.
            </div>
            <div class="mb-5 pb-5 " data-aos="fade-up">
              I love cooking, and dancing too. Hey enough about me lets know you
              too. Feel free to reach out I love meeting people.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>



<div class="forth-page pt-5 position-relative">
 
  <div class="last font-weight-bold">
    <div class="recent" data-aos="fade-up" data-aos-easing="linear">Recent</div>
  </div>
  <div class="last1 font-weight-bold">
    <div class="recent" data-aos="fade-up" data-aos-easing="linear">Work</div>
  </div>
  <div class="last2 font-weight-bold">
    <a
      class="button recent"
      href="/work"
      data-aos="fade-up"
      data-aos-easing="linear"
      ><svg>
        <g>
          <line x2="227.62" y1="31.28" y2="31.28"></line>
          <polyline points="222.62 25.78 228.12 31.28 222.62 36.78"></polyline>
          <circle
            cx="224.67"
            cy="30.94"
            r="30.5"
            transform="rotate(180 224.67 30.94) scale(1, -1) translate(0, -61)"
          ></circle>
        </g></svg
      >Check Out</a
    >
  </div>
</div>
<app-scroll-bar></app-scroll-bar>
<app-footer></app-footer>
