<diV class="pt-5 back ">
  <nav class="navbar navbar-expand-sm justify-content-between">
    <a
      class="nav-link text-light effect-1 font-weight-bold"
      data-aos="fade-down"
      data-aos-duration="2000"
      data-aos-easing="linear"
      href="#"
      >WORK</a
    >

    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link text-light effect-1 font-weight-bold"
          data-aos="fade-down"
          data-aos-duration="1300"
          data-aos-easing="linear"
          href="/intro"
          >WHO</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light effect-1  font-weight-bold"
          data-aos="fade-down"
          data-aos-duration="2300"
          data-aos-easing="linear"
          href="/what"
          >WHAT</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light effect-1 font-weight-bold"
          data-aos="fade-down"
          data-aos-duration="2800"
          data-aos-easing="linear"
          href="/work"
          >WORK</a
        >
      </li>
    </ul>

    <a
      class="nav-link text-light effect-1 font-weight-bold"
      data-aos="fade-down"
      data-aos-duration="2000"
      data-aos-easing="linear"
      href="/contact"
      >CONTACT</a
    >
  </nav>

  <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
    <div class="d-flex justify-content-center what font-weight-bold ml-5 mr-5 mt-5 ">
      Work.
    </div>
  </div>

  <div
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="500"
    class="arrow bottom"
  >
    <span></span>
  </div>
</diV>

<div class="container-fluid header position-relative background">
  <div class="title d-flex justify-content-center  font-weight-bold pt-5" data-aos="fade-up" data-aos-easing="linear">
    {{ project.title }}
  </div>
  <div class="d-flex justify-content-center mt-2 text-light" data-aos="fade-up" data-aos-easing="linear">{{ project.subHeading }}</div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="mt-5 col-sm-6 text-light desc"
    data-aos="fade-up" data-aos-easing="linear">
      {{ project.desc }}
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="text d-flex justify-content-around mt-3 text-light" data-aos="fade-up" data-aos-easing="linear">Links:</div>
 <div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
    <a href="#" class="d-flex justify-content-center pt-2 text-light effect-1">{{ project.link1 }}</a>
    <a href="#" class="d-flex justify-content-center pt-1 text-light effect-1">{{ project.link2 }}</a>
</div>
<div class="col-sm-4"></div>
 </div>
</div>

<div class="container-fluid about-me">
  <div class="about-me-parallex"></div>
  <div class="container-fluid about-me-text" id="aboutTitle">
      <div class="container-fluid header background">
          <div class="title d-flex justify-content-center font-weight-bold pt-5" data-aos="fade-up" data-aos-easing="linear"> 
            {{ project1.title }}
          </div>
          <div class="d-flex justify-content-center mt-2 text-light" data-aos="fade-up" data-aos-easing="linear">{{ project1.subHeading }}</div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="mt-5 col-sm-6 text-light desc" data-aos="fade-up" data-aos-easing="linear">
              {{ project1.desc }}
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="text d-flex justify-content-around mt-3 text-light" data-aos="fade-up" data-aos-easing="linear">Links:</div>
         <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
            <a href="#" class="d-flex justify-content-center pt-2 text-light effect-1" >{{ project1.link1 }}</a>
            <a href="#" class="d-flex justify-content-center pt-1 text-light effect-1">{{ project1.link2 }}</a>
        </div>
        <div class="col-sm-4"></div>
         </div>
        </div>
  </div>

  <div class="skills-parallex"></div>
  <div class="container-fluid skills" id="skillsId">
      <div class="container-fluid header  background">
          <div class="title d-flex justify-content-center pt-5 font-weight-bold" data-aos="fade-up" data-aos-easing="linear">
            {{ project2.title }}
          </div>
          <div class="d-flex justify-content-center mt-2 text-light" data-aos="fade-up" data-aos-easing="linear">{{ project2.subHeading }}</div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="pt-5 col-sm-6 text-light desc" data-aos="fade-up" data-aos-easing="linear">
              {{ project2.desc }}
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="text d-flex justify-content-around pt-3 text-light" data-aos="fade-up" data-aos-easing="linear">Links:</div>
         <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
            <a href="#" class="d-flex justify-content-center pt-2 text-light effect-1">{{ project2.link1 }}</a>
            <a href="#" class="d-flex justify-content-center pt-1 text-light effect-1">{{ project2.link2 }}</a>
        </div>
        <div class="col-sm-4"></div>
         </div>
        </div>
  </div>
  <div class="skills-parallex"></div>
  <div class="container-fluid skills" id="skillsId">
      <div class="container-fluid header  background">
          <div class="title d-flex justify-content-center pt-5 font-weight-bold" data-aos="fade-up" data-aos-easing="linear">
            {{ project2.title }}
          </div>
          <div class="d-flex justify-content-center mt-2 text-light" data-aos="fade-up" data-aos-easing="linear">{{ project2.subHeading }}</div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="pt-5 col-sm-6 text-light desc" data-aos="fade-up" data-aos-easing="linear">
              {{ project2.desc }}
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="text d-flex justify-content-around pt-3 text-light" data-aos="fade-up" data-aos-easing="linear">Links:</div>
         <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
            <a href="#" class="d-flex justify-content-center pt-2 text-light effect-1">{{ project2.link1 }}</a>
            <a href="#" class="d-flex justify-content-center pt-1 text-light effect-1">{{ project2.link2 }}</a>
        </div>
        <div class="col-sm-4"></div>
         </div>
        </div>
  </div>

  <div class="skills-parallex"></div>
  <div class="container-fluid skills" id="skillsId">
     
  </div>
</div>
<app-scroll-bar></app-scroll-bar>