<diV class="pt-5 back ">
  <nav class="navbar navbar-expand-sm justify-content-between">
    <a class="nav-link text-light effect-1 font-weight-bold" data-aos="fade-down" data-aos-duration="2000"
      data-aos-easing="linear"></a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light effect-1 font-weight-bold" data-aos="fade-down" data-aos-duration="1300"
          data-aos-easing="linear" href="/intro">WHO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light effect-1  font-weight-bold" data-aos="fade-down" data-aos-duration="2300"
          data-aos-easing="linear" href="/what">WHAT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light effect-1 font-weight-bold" data-aos="fade-down" data-aos-duration="2800"
          data-aos-easing="linear" href="/work">WORK</a>
      </li>
    </ul>

    <a class="nav-link text-light effect-1 font-weight-bold" data-aos="fade-down" data-aos-duration="2000"
      data-aos-easing="linear" data-toggle="modal" data-target="#myModal">CONTACT</a>
  </nav>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
      <app-contact></app-contact>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center what font-weight-bold mt-5 mr-5 ml-5 position-relative">
    <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
      Work.
    </div>
  </div>

  <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500" class="arrow bottom">
    <span></span>
  </div>
</diV>

<div class="container-fluid header background pb-4">
  <div class="title text-center font-weight-bold pt-5 " data-aos="fade-up" data-aos-easing="linear">
    {{ project.title }}
  </div>
  <div class="text-center mt-2 text-info font-weight-bold" data-aos="fade-up" data-aos-easing="linear">
    {{ project.subHeading }}
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="mt-5 col-sm-6 text-dark desc text-center" data-aos="fade-up" data-aos-easing="linear">
      {{ project.desc }}
    </div>
    <div class="col-sm-3"></div>
  </div>
  
  <div class="text d-flex justify-content-around mt-3 text-dark font-weight-bold" data-aos="fade-up" data-aos-easing="linear">
    Links:
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
      <div class="mb-3 pl-2 pr-2 text-center">
        <div>
          <a href="#" class="d-flex justify-content-center pt-2 text-info effect-1">{{ project.link1 }}</a>
        </div>
        <div>
          <a href="#" class="d-flex justify-content-center pt-1 text-info effect-1">{{ project.link2 }}</a>
        </div>
      </div>
      
    </div>
    <div class="col-sm-4"></div>
  </div>
  
</div>

<div class="container-fluid about-me">
  <div class="about-me-parallex"></div>
  <div class="container-fluid about-me-text background pb-4" id="aboutTitle">
    <div class="container-fluid header">
      <div class="title text-center font-weight-bold pt-5" data-aos="fade-up" data-aos-easing="linear">
        {{ project1.title }}
      </div>
      <div class="text-center mt-2 font-weight-bold text-info" data-aos="fade-up" data-aos-easing="linear">
        {{ project1.subHeading }}
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="mt-5 col-sm-6 text-dark desc text-center" data-aos="fade-up" data-aos-easing="linear">
          {{ project1.desc }}
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="text d-flex font-weight-bold justify-content-around mt-3 text-dark" data-aos="fade-up" data-aos-easing="linear">
        Links:
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
          <div class="pl-2 pr-2 text-center">
            <a href="#" class="d-flex justify-content-center pt-2 text-info effect-1">{{ project1.link1 }}</a>
          </div>
          <div class="pl-2 pr-2 text-center">
            <a href="#" class="d-flex justify-content-center pt-1 text-info effect-1">{{ project1.link2 }}</a>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>

  <div class="skills-parallex"></div>
  <div class="container-fluid orange background pb-4" id="skillsId">
    <div class="container-fluid header background">
      <div class="title text-center pt-5 font-weight-bold" data-aos="fade-up" data-aos-easing="linear">
        {{ project2.title }}
      </div>
      <div class="text-center mt-2 font-weight-bold text-info" data-aos="fade-up" data-aos-easing="linear">
        {{ project2.subHeading }}
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="mt-5 col-sm-6 text-dark desc text-center" data-aos="fade-up" data-aos-easing="linear">
          {{ project2.desc }}
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="text d-flex font-weight-bold justify-content-around pt-3 text-dark" data-aos="fade-up" data-aos-easing="linear">
        Links:
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
          <div class="pl-2 pr-2 text-center">
            <a href="#" class="d-flex justify-content-center pt-2 text-info effect-1">{{ project2.link1 }}</a>
          </div>
          <div class="pl-2 pr-2 text-center">
            <a href="#" class="d-flex justify-content-center pt-1 text-info effect-1">{{ project2.link2 }}</a>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>

  <div class="skills-parallex1"></div>
  <div class="container-fluid orange background pb-4" id="skillsId">
    <div class="container-fluid header background">
      <div class="title text-center pt-5 font-weight-bold" data-aos="fade-up" data-aos-easing="linear">
        {{ project3.title }}
      </div>
      <div class="text-center mt-2 text-info font-weight-bold" data-aos="fade-up" data-aos-easing="linear">
        {{ project3.subHeading }}
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="pt-5 col-sm-6 text-dark desc text-center" data-aos="fade-up" data-aos-easing="linear">
          {{ project3.desc }}
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="text d-flex font-weight-bold justify-content-around pt-3 text-dark" data-aos="fade-up" data-aos-easing="linear">
        Links:
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" data-aos="fade-up" data-aos-easing="linear">
          <div class="pl-2 pr-2 text-center">
            <a href="#" class="d-flex justify-content-center pt-2 text-info effect-1">{{ project3.link1 }}</a>
          </div>
          <div class="pl-2 pr-2 text-center">
            <a href="#" class="d-flex justify-content-center pt-1 text-info effect-1">{{ project3.link2 }}</a>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>

  <div class="skills-parallex2"></div>
  <div class="container-fluid">
    <div id="demo" class="carousels carousel slide" data-ride="carousel">
      <p class="text-center p-5">Pictures of my project</p>

      <ol class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item background3 size active"></div>
        <div class="carousel-item background1 size"></div>
        <div class="carousel-item background2 size"></div>
        <div class="carousel-item background4 size"></div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#demo" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#demo" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

  <div class="container-fluid p-5 bg-primary-light">
    <div class="container-fluid text-center text-muted">
      <p class="but" data-aos="fade-up" data-aos-easing="linear">But thats not all,</p>
      <p data-aos="fade-up" data-aos-easing="linear">
        See rest of my projects on my github
      </p>
      <p class="mt-3" data-aos="fade-up" data-aos-easing="linear">
        Even you can contribute to some of them, It would be lovely working on
        something with you
      </p>

      <a href="https://github.com/renny1214" target="_blank" data-aos="fade-up" data-aos-easing="linear"><img
          src="../../assets/images/github.png" class="icon img-fluid mt-3 mb-5" alt="github_icon" /></a>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<app-scroll-bar></app-scroll-bar>


