.back {
  background-image: linear-gradient(-70deg, #0f4c75 30%, rgba(0, 0, 0, 0) 30%),
    url("../../assets/images/work.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

a,
a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.effect-1 {
  padding-top: 10px;
}
.effect-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #52de97;
  transform: scaleX(0);
}
.effect-1:hover:before {
  transform: scaleX(1);
}
.what {
  color: #52de97;
  font-size: 18rem;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.bottom {
  margin-top: 250px;
}

.background {
  background: -webkit-linear-gradient(30deg, #75b79e 40%, #0f4c75 40%);
  background: -o-linear-gradient(30deg, #75b79e 40%, #0f4c75 40%);
  background: -moz-linear-gradient(30deg, #75b79e 40%, #0f4c75 40%);
  background: linear-gradient(30deg, #75b79e 40%, #0f4c75 40%);
}
.desc {
  font-size: 1rem;
  width: 100%;
}

.header,
.intro-image {
  height: 80vh;
  width: 100%;
}
.title {
  font-size: 2rem;
  color: #52de97;
}

.about-me {
  height: 80vh;
}
.about-me-parallex {
  background-image: url("../../assets/images/ecom2.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me-text {
  height: 80vh;
}

.skills-parallex {
  background-image: url("../../assets/images/blog2.jpeg");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.orange {
  height: 80vh;
}

.skills-parallex1 {
  background-image: url("../../assets/images/orange1.jpeg");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.skills1 {
  height: 80vh;
  background: var(--light-primary);
}

.skills-parallex2 {
  background-image: url("../../assets/images/taxi1.jpeg");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.carousels {
  display: none;
}
.projects-page {
  height: 80vh;
  background: linear-gradient(
      -70deg,
      var(--hacking-green) 30%,
      rgba(0, 0, 0, 0) 30%
    ),
    var(--black-coding-url);
  background-size: cover;
}

.contact-parallex {
  background-image: url("../../assets/images/blog2.jpeg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.contact {
  background: var(--light-primary);
  height: 80vh;
}
.last {
  font-size: 50px;
  color: #0f4c75;
}

a.button {
  position: relative;
  display: inline-block;
  width: 25.6em;
  height: 6.3em;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  line-height: 3em;
  font-size: 1rem;
  color: #0f4c75;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.button svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
a.button svg g line,
a.button svg g polyline,
a.button svg g circle {
  fill: none;
  stroke: #0f4c75;
}
a.button svg g line,
a.button svg g polyline {
  stroke-miterlimit: 10;
}
a.button svg g circle {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.066em;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset ease-out 0.5s;
  transition: stroke-dashoffset ease-out 0.5s;
}
a.button font {
  z-index: 2;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}
a.button:hover {
  -webkit-transform: translateZ(0) translateX(0.5em);
  transform: translateZ(0) translateX(0.5em);
}
a.button:hover svg g circle {
  stroke-dashoffset: 200;
}

.con {
  color: #52de97;
}

.bg-purple {
  background: linear-gradient(110deg, #522d5b 20%, purple 20%);
}
.bg-primary-light {
  background: white;
}
.back-icon:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.icon {
  height: 50px;
  width: 50px;
  opacity: 0.8;
}
.icon:hover {
  opacity: 1;
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .what {
    color: #52de97;
    font-size: 6rem;
  }
  .header,
  .intro-image {
    height: 100%;
    width: 100%;
  }

  .about-me {
    height: 100%;
  }

  .about-me-text {
    height: 100%;
  }
  .orange {
    height: 100%;
  }

  .skills1 {
    height: 100%;
    background: var(--light-primary);
  }
  .contact {
    background: var(--light-primary);
    height: 100%;
  }
  .carousels {
    display: block;
    height: 20vh;
  }
  .skills2 {
    height: 100%;
    background: var(--light-primary);
  }
  
}
a{
  cursor: pointer;
}
.abc {
  background: -webkit-linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  background: -o-linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  background: -moz-linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  background: linear-gradient(110deg, #effcef 60%, #ccedd2 60%);
  height: 80vh;
  width: 100%;
}

.modal-content {
  border-radius: 0px !important;
}
.contact-text {
  font-size: 24px;
}
.mail {
  font-size: 55px;
  color: black;
}
.mail:hover {
  color: #3b6978;
  text-decoration: underline;
}
.icon-size {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  cursor: pointer;
}
.icon-size:hover {
  opacity: 1;
}
.center-align {
  align-items: center;
}

@media screen and (max-width: 750px) {
  .modal{
    height: 100%;
    
}
  .social {
    letter-spacing: 0.1em;
    padding-top: 0px;
  }
  .a{
    padding-left:10px;
    padding-right:10px;
      width : 100%;
  }
  .contact-text {
    font-size: 15px;
  }
  .mail {
    font-size: 24px;
    color: black;
  }
  .social {
    padding-top: 0px;
    letter-spacing: 0.1em;
  }
  .mail {
    font-size: 1.5rem;
    color: black;
  }
  .but{
    margin-top:10rem;
  }
  .carousel-indicators{
    margin-top:50px;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #52de97;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #0f4c75;
}

}
.start-one {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.custom-pos {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.social {
  padding-top: 30px;
  letter-spacing: 0.1em;
}
.love {
  word-spacing: 0.2em;
}

.background1 {
  background-image: url("../../assets/images/blog2.jpeg");
  background-repeat: no-repeat;
}
.background2 {
  background-image: url("../../assets/images/ecom2.jpeg");
  background-repeat: no-repeat;
}
.background3 {
  background-image: url("../../assets/images/taxi1.jpeg");
  background-repeat: no-repeat;
}
.background4 {
  background-image: url("../../assets/images/orange1.jpeg");
  background-repeat: no-repeat;
}
.size {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 400px;
  background-size: 100%;
}
.undefined {
  padding-top: 0px;
  padding-left: 30px;
}
.start-one {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.textbox
{
  height: 100px;
}
.btn4 {
  height: 30px;
  width : 500px;
  background-color: #494b6b;
  color: white;
}
.btn4:hover {
  color: #84a9ac;
}