.back {
  background-image: url("../../assets/images/pexels-photo-169573.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
a{
  cursor: pointer;
}

a,
a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.effect-1 {
  padding-top: 10px;
}
.effect-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffc46b;
  transform: scaleX(0);
}
.effect-1:hover:before {
  transform: scaleX(1);
}
.what {
  color: #ffc46b;
  font-size: 18rem;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.bottom {
  margin-top: 250px;
}
.abc {
  background: linear-gradient(110deg, #ffeecf 60%, #fad284 60%);
  background: -o-linear-gradient(110deg, #ffeecf 60%, #fad284 60%);
  background: -moz-linear-gradient(110deg, #ffeecf 60%, #fad284 60%);
  background: linear-gradient(110deg, #ffeecf 60%, #fad284 60%);
  height: 80vh;
}

.modal-content {
  border-radius: 0px !important;
}
.contact-text {
  font-size: 24px;
}
.mail {
  font-size: 55px;
  color: black;
}
.mail:hover {
  color: #3b6978;
  text-decoration: underline;
}
.icon-size {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  cursor: pointer;
}
.icon-size:hover {
  opacity: 1;
}
.center-align {
  align-items: center;
}

@media screen and (max-width: 750px) {
  .what {
    color: #ffc46b;
    font-size: 6rem;
  }
  .mail {
    font-size: 1.5rem;
    color: black;
  }
}
.start-one {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.custom-pos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.social {
  padding-top: 55px;
  letter-spacing: 0.1em;
}
.love {
  word-spacing: 0.2em;
}

.full {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
}

.main-title {
  position: absolute;
  border-left: solid 5px #333;
  padding-left: 10px;
  color: #333;
  margin: 0 20px 20px 20px;
  font-family: Impact, serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  top: 0;
}

.main-title span {
  display: block;
}
.main-title a {
  color: inherit;
}

.main-title span {
  margin-bottom: 0;
}
.main-title .span1 {
  font-size: 29px;
}
.main-title .span2 {
  font-size: 45px;
}
.main-title .span3 {
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: none;
  font-weight: normal;
}

figure {
  margin: 0;
}

.container1 {
  width: 500px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  perspective: 4000px;
  transform-style: preserve-3d;

  -moz-perspective: 4000px;
  -moz-transform-style: preserve-3d;

  animation: rotateChart 20s linear;
  animation-fill-mode: forwards;

  -moz-animation: rotateChart 20s linear;
  -moz-animation-fill-mode: forwards;
}

@-moz-keyframes rotateChart/* Safari and Chrome */ {
  0% {
    -moz-transform: rotateX(0deg) rotateY(-20deg);
  }

  100% {
    -moz-transform: rotateX(0deg) rotateY(-380deg);
  }
}

@keyframes rotateChart/* Safari and Chrome */ {
  0% {
    transform: rotateX(0deg) rotateY(-20deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(-380deg);
  }
}

.persp1,
.persp2,
.persp3,
.persp4,
.persp5 {
  position: absolute;
  width: 100px;
  bottom: 0;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  z-index: 99;
}

.persp1 {
  height: 90%;
}
.persp2 {
  height: 65%;
}
.persp3 {
  height: 75%;
}
.persp4 {
  height: 90%;
}

.face {
  position: absolute;
}

.data-y {
  background: none !important;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px #666;
  transform: translateZ(1px);
  -moz-transform: translateZ(1px);
}

.data-x {
  background-image: url(http://www.heloisabiagi.com/media/charts01-social.png);
  background-repeat: no-repeat;
  background-color: #fff !important;
  transform-origin: top left;
  transform: rotateX(90deg);
  -moz-transform-origin: top left;
  -moz-transform: rotateX(90deg);
  top: 100%;
}

.persp1 .data-x {
  background-position: 0px 10px;
}
.persp2 .data-x {
  background-position: 0px -90px;
}
.persp3 .data-x {
  background-position: 0px -190px;
}
.persp4 .data-x {
  background-position: 0px -290px;
}

.persp1 {
  margin-left: 370px;
}
.persp2 {
  margin-left: 290px;
}
.persp3 {
  margin-left: 210px;
}
.persp4 {
  margin-left: 130px;
}

/* Faces */

.front,
.left,
.right,
.back1 {
  width: 50px;
  height: 100%;
}

.top,
.data-x,
.data-y {
  width: 50px;
  height: 50px;
}

.persp1 .face {
  background-color: #7b3c3c;
}

.persp2 .face {
  background-color: #c70039;
}

.persp3 .face {
  background-color: #c53727;
}

.persp4 .face {
  background-color: #f06f32;
}

.front {
  opacity: 0.7;
}

.left {
  transform: rotateY(90deg);
  transform-origin: top left;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: top left;
  opacity: 0.7;
}

.right {
  transform: rotateY(-90deg);
  transform-origin: top right;
  background-image: linear-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(0, 0, 0, 0.5)),
    to(transparent)
  );
  background-image: -moz-linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  -moz-transform: rotateY(-90deg);
  -moz-transform-origin: top right;
}

.top {
  transform-origin: top left;
  transform: rotateX(90deg) translateY(-50px);
  background-image: linear-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(255, 255, 255, 0.3)),
    to(rgba(255, 255, 255, 0.5))
  );
  -moz-transform-origin: top left;
  -moz-transform: rotateX(90deg) translateY(-50px);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5)
  );
  z-index: 99;
}

.back1 {
  transform: translateZ(-50px);
  -moz-transform: translateZ(-50px);
}

.base {
  background-color: #fff;
  transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  border-bottom: solid 3px #ccc;
  border-right: solid 3px #ccc;
}

.bars {
  height: 100%;
}

.subtitle {
  position: relative;
  margin: 0 auto;
  width: 510px;
}

.list-social li {
  font-family: Arial, sans-serif;
  list-style: none;
  float: left;
  margin-right: 10px;
}

.list-social li:before {
  content: "";
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 5px;
}

.list-social li.fb:before {
  background-color: #7b3c3c;
}
.list-social li.twt:before {
  background-color: #c70039;
}
.list-social li.gp:before {
  background-color: #c53727;
}
.list-social li.lkd:before {
  background-color: #f06f32;
}

.list-social1 li {
  font-family: Arial, sans-serif;
  list-style: none;
  float: left;
  margin-right: 5px;
}

.list-social1 li:before {
  content: "";
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.list-social1 li.fb:before {
  background-color: #7b3c3c;
}
.list-social1 li.twt:before {
  background-color: #c70039;
}
.list-social1 li.gp:before {
  background-color: #c53727;
}
.list-social1 li.lkd:before {
  background-color: #f06f32;
}

.cardcol {
  margin: 0 auto;
}

.round {
  background-color: #dfe2e2;
}

.persp5 {
  height: 70%;
}
.persp6 {
  height: 70%;
}
.persp7 {
  height: 90%;
}
.persp8 {
  height: 80%;
}

.persp9 {
  height: 80%;
}
.persp10 {
  height: 90%;
}

.persp11 {
  height: 90%;
}
.persp12 {
  height: 85%;
}
.persp13 {
  height: 60%;
}

.persp14 {
  height: 80%;
}
.persp15 {
  height: 80%;
}
.persp16 {
  height: 30%;
}

.persp17 {
  height: 70%;
}
.persp18 {
  height: 85%;
}
.persp19 {
  height: 80%;
}
.persp20 {
  height: 70%;
}

.traits {
  font-size: 20px;
  color: #c53727;
  word-spacing: 0.2em;
}

.cards {
  display: flex;
  box-align: center;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.card {
  min-width: 300px;
  max-width: 300px;
  height: 400px;
  margin-left: -80px;
  border-radius: 40px;
  padding: 30px;
  box-shadow: -4px 4px 26px 2px rgba(26, 73, 77, 0.1);
  background: linear-gradient(
    linear,
    left top,
    right bottom,
    from(#fafafa),
    to(whitesmoke)
  );
  background: linear-gradient(to right bottom, #fafafa, whitesmoke);
  transition: all 0.3s;
  position: relative;
}

.card:first-child {
  margin-left: 0;
}

.card:hover,
.card:focus-within {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.card:hover + .card,
.card:focus-within + .card {
  -webkit-transform: translateX(80px);
  transform: translateX(80px);
}

.card-info {
  margin-bottom: 14px;
}

.card-info > span:first-child {
  margin-right: 6px;
}

.card-info > span:last-child {
  color: #b3b3b3;
}

.dropcap {
  float: left;
  font-size: 4rem;
  color: #c53727;
  margin: -13px 7px -13px 0;
}
.other {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .card:first-child {
    display: none;
  }
  .card2 {
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    border-radius: 40px;
    padding: 30px;
    box-shadow: -4px 4px 26px 2px rgba(26, 73, 77, 0.1);
    background: linear-gradient(
      linear,
      left top,
      right bottom,
      from(#fafafa),
      to(whitesmoke)
    );
    background: linear-gradient(to right bottom, #fafafa, whitesmoke);
    position: relative;
  }
  .cards {
    display: flex;
    flex-direction: column;
    box-align: center;
    align-items: center;
    padding-left: 80px;
    min-height: 100vh;
  }
  .card {
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    border-radius: 40px;
    padding: 30px;
    box-shadow: -4px 4px 26px 2px rgba(26, 73, 77, 0.1);
    background: linear-gradient(
      linear,
      left top,
      right bottom,
      from(#fafafa),
      to(whitesmoke)
    );
    background: linear-gradient(to right bottom, #fafafa, whitesmoke);
    position: relative;
  }
  .contact-text {
    font-size: 15px;
  }
  .mail {
    font-size: 24px;
    color: black;
  }
  .social {
    padding-top: 20px;
    letter-spacing: 0.1em;
  }
  .subtitle {
    position: relative;
    width: 510px;
  }

  .card:hover,
  .card:focus-within {
    transform: none;
  }

  .card:hover + .card,
  .card:focus-within + .card {
    transform: none;
  }
}

.card2 {
  display: none;
}
