<div>
  <diV class="pt-5 back ">
    <nav class="navbar navbar-expand-sm justify-content-between">
      <a
        class="nav-link text-light effect-1 font-weight-bold"
        data-aos="fade-down"
        data-aos-duration="2000"
        data-aos-easing="linear"
      ></a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-light effect-1 font-weight-bold"
            data-aos="fade-down"
            data-aos-duration="1300"
            data-aos-easing="linear"
            href="/intro"
            >WHO</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light effect-1  font-weight-bold"
            data-aos="fade-down"
            data-aos-duration="2300"
            data-aos-easing="linear"
            href="/what"
            >WHAT</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light effect-1 font-weight-bold"
            data-aos="fade-down"
            data-aos-duration="2800"
            data-aos-easing="linear"
            href="/work"
            >WORK</a
          >
        </li>
      </ul>

      <a
        class="nav-link text-light effect-1 font-weight-bold"
        data-aos="fade-down"
        data-aos-duration="2000"
        data-aos-easing="linear"
        data-toggle="modal"
        data-target="#myModal"
        >CONTACT</a
      >
    </nav>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="abc">
            <button type="button" class="close pr-4 pt-4" data-dismiss="modal">
              &times;
            </button>
            <div class="container-fluid custom-pos">
              <div class="font-weight-bold text-dark">
                <div
                  class="start-one text-center mb-5 mt-5"
                  data-aos="fade-down"
                  data-aos-easing="linear"
                >
                  Contact me
                </div>
              </div>
              <div
                class="love start-one text-center mt-5"
                data-aos="fade-up"
              >
                Would love to hear from you!
              </div>
            </div>
            <div>
              <div class="text-center mail font-weight-bold mb-5">
                <a href="rennymittal1214@gmail.com"
                  >rennymittal1214@gmail.com</a
                >
              </div>
              <div>
                <div class=" text-center text-dark social">SOCIAL</div>
                <div class="container-fluid mt-4 d-flex justify-content-center">
                  <a
                    href="https://www.instagram.com/renny.mittal/"
                    target="_blank"
                  >
                    <img
                      src="../../assets/images/instagram.png"
                      class="img-fluid icon-size"
                    />
                  </a>
                  <a
                    href="https://www.linkedin.com/in/renny-mittal-97a84a1a0/"
                    target="_blank"
                  >
                    <img
                      src="../../assets/images/linkedin.png"
                      class="img-fluid icon-size ml-2 mr-2"
                    />
                  </a>
                  <a href="https://github.com/renny1214" target="_blank">
                    <img
                      src="../../assets/images/github.png"
                      class="img-fluid icon-size"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-center what font-weight-bold mt-5 mr-5 ml-5 position-relative"
    >
      <div
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="500"
      >
        What.
      </div>
    </div>

    <div
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="500"
      class="arrow bottom"
    >
      <span></span>
    </div>
  </diV>
</div>

<div class="round">
  <div class="container pt-5 cardcol">
    <div class="row">
      <div class="col-sm-6">
        <div class="full" data-aos="fade-up" data-aos-easing="linear">
          <h1 class="main-title">
            <span class="span1">Front End</span>
            <span class="span2">Language</span>
          </h1>
          <div class="container1">
            <div class="bars">
              <div class="persp1">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp2">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp3">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp4">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>
            </div>

            <div class="base"></div>
          </div>
          <div class="subtitle">
            <ul class="list-social1">
              <li class="lkd">HTML</li>
              <li class="gp">Typescript</li>
              <li class="twt">Javascript</li>
              <li class="fb">CSS</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="full" data-aos="fade-up" data-aos-easing="linear">
          <h1 class="main-title">
            <span class="span1">Programming</span>
            <span class="span2">Language</span>
          </h1>
          <div class="container1">
            <div class="bars">
              <div class="persp4 persp5">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp3 persp6">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp2 persp7">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp1 persp8">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>
            </div>

            <div class="base"></div>
          </div>
          <div class="subtitle">
            <ul class="list-social">
              <li class="lkd">C</li>
              <li class="gp">C++</li>
              <li class="twt">Java</li>
              <li class="fb">SQL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5 mt-5 cardcol">
    <div class="row">
      <div class="col-sm-6">
        <div class="full" data-aos="fade-up" data-aos-easing="linear">
          <h1 class="main-title">
            <span class="span1">Databases</span>
          </h1>
          <div class="container1">
            <div class="bars">
              <div class="persp2 persp9">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp1 persp10">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>
            </div>

            <div class="base"></div>
          </div>
          <div class="subtitle">
            <ul class="list-social">
              <li class="twt">Oracle</li>
              <li class="fb">Mysql</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="full" data-aos="fade-up" data-aos-easing="linear">
          <h1 class="main-title">
            <span class="span1">Frontend</span>
            <span class="span2">Frameworks</span>
          </h1>
          <div class="container1">
            <div class="bars">
              <div class="persp3 persp11">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp2 persp12">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp1 persp13">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>
            </div>

            <div class="base"></div>
          </div>
          <div class="subtitle">
            <ul class="list-social">
              <li class="gp">Bootstrap 4</li>
              <li class="twt">Angular</li>
              <li class="fb">Jquery</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5 pb-5 mt-5 cardcol">
    <div class="row">
      <div class="col-sm-6">
        <div class="full" data-aos="fade-up" data-aos-easing="linear">
          <h1 class="main-title">
            <span class="span1">Development</span>
            <span class="span2">Frameworks</span>
          </h1>
          <div class="container1">
            <div class="bars">
              <div class="persp3 persp14">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp2 persp15">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp1 persp16">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>
            </div>

            <div class="base"></div>
          </div>
          <div class="subtitle">
            <ul class="list-social">
              <li class="gp">Spring Boot</li>
              <li class="twt">Hibernate</li>
              <li class="fb">Electron</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="full" data-aos="fade-up" data-aos-easing="linear">
          <h1 class="main-title">
            <span class="span1">Concepts</span>
          </h1>
          <div class="container1">
            <div class="bars">
              <div class="persp4 persp17">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp3 persp18">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp2 persp19">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>

              <div class="persp1 persp20">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back1"></figure>
                <div class="face data-y"></div>
                <div class="face data-x"></div>
              </div>
            </div>

            <div class="base"></div>
          </div>
          <div class="subtitle">
            <ul class="list-social">
              <li class="lkd">Operating System</li>
              <li class="gp">DBMS</li>
              <li class="twt">Data Structures</li>
              <li class="fb">Software Engineering</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="round pt-5">
  <div
    class="text-center font-weight-bold traits pb-5"
    data-aos="fade-up"
    data-aos-easing="linear"
  >
    Some personality traits and behevorial skills!!
  </div>

  <div class="cards" data-aos="fade-down" data-aos-easing="linear">
    <div class="card">
      <div class="card-info">
        <div class="dropcap">C</div>
        <div class="other">
          reative. i count myself to be a creative person. I personally believe
          - "Creativity doesn't wait for that perfect moment. It fashions its
          own perfect moments out of ordinary ones." I love working and giving
          everything a slight of my taste.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <div class="dropcap">F</div>
        <div class="other">
          ocused. Whenever you want to achieve something, keep your eyes open,
          concentrate and make sure you know exactly what it is you want. No one
          can hit their target with their eyes closed.” “The only time you fail
          is when you fall down and stay down.” “Focus on your goals, not your
          fear.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <div class="dropcap">L</div>
        <div class="other">
          earner. Everything around gives an opportunity to learn. Learning is
          never ending process. I have zeal to work and zeal to learn. Grab
          knowlege from anywhere you can. Take small steps , One day they will
          form a path to success.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <div class="dropcap">O</div>
        <div class="other">
          ptimistic. I feel this one quality makes me unique too. I dont fear
          failure. I personally belive life can be a bumpy road ,but its leadig
          somewhere. When you are positive good things happen around. Life
          doesn't happen twice.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <div class="dropcap">E</div>
        <div class="other">
          motional Intelligent. The higher our emotional intelligence, the more
          we can achieve. we can enjoy the simple joy of being happy and at
          peace with ourselves. Failure is a part of life if not handled by your
          emotions you cant achieve success.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <div class="dropcap">D</div>
        <div class="other">
          ecision Maker. "You can't make decisions based on fear and the
          possibility of what might happen.” The universe has no fixed agenda.
          Have confidence and enough courage to accept the outsome of your
          decisons.
        </div>
      </div>
    </div>
    <div class="card card2">
        <div class="card-info">
          <div class="dropcap">C</div>
          <div class="other">
            reative. i count myself to be a creative person. I personally believe
            - "Creativity doesn't wait for that perfect moment. It fashions its
            own perfect moments out of ordinary ones." I love working and giving
            everything a slight of my taste.
          </div>
        </div>
      </div>
  </div>
  <div
    class="text-center font-weight-bold traits pb-5"
    data-aos="fade-up"
    data-aos-easing="linear"
  >
    and many more...
  </div>
</div>
<app-scroll-bar></app-scroll-bar>
<app-footer></app-footer>
